html{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
}

body {
	background-image: -moz-radial-gradient(center, circle closest-corner, #353863 0%, #000 100%);
	background-image: -o-radial-gradient(center, circle closest-corner, #353863 0%, #000 100%);
	background-image: -webkit-radial-gradient(center, circle closest-corner, #353863 0%, #000 100%);
	height: 100vh;
  margin: 0;
  overflow: hidden;

  /* remove blue on double click */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /*user-select: none;*/
}

.calcWrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: rgba(142, 18, 23, 1);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10%;
}

.calculator {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

p {
  font-size: 40px;
  color: white;
  float:left;
  width:  125px;
  height: auto;
  line-height: 100px;
  border-radius: 50px;
  text-align: center;
  margin: 0;
  transition: background 0.12s ease-in-out;
}

p:hover {
  background: #282827;
  cursor: pointer;
  opacity: 0.3;
  outline: none;
}

p:focus {
  outline: none;
}

p:active {
  background: #00AADC;
  opacity: 0.8;
  outline: none;
}

p.cancel {
  width: 375px;
  border-radius: 0;
}

p.zero {
  text-align: left;
  padding-left: 50px;
  width: 200px;
  border-radius: 0;
}

.result {
  color: rgba(255,255,255,0.3);
  font-size: 200px;
  z-index: -1;
  width: 100%;
  text-align: center;
  position: absolute;
  height: 65%;
  line-height: 200px;
  word-wrap: break-word;
}

footer h5 {
  text-align: center;
  color: white;
  font-weight: 100;
}


/* Music */
#musicMute {
  color: rgba(255,255,255,0.6);
  font-size: 40px;
}
#musicMute:hover {
  color: rgba(255,255,255,1);
  cursor: pointer;
}

#musicMute i {

}


/* ZenRainAnimation */
canvas {
  display: block;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(171,209,234,0.5) 0%, rgba(125,185,232,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(171,209,234,0.5)), color-stop(100%,rgba(125,185,232,0.75))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(171,209,234,0.5) 0%,rgba(125,185,232,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(171,209,234,0.5) 0%,rgba(125,185,232,0.75) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(171,209,234,0.5) 0%,rgba(125,185,232,0.75) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(171,209,234,0.5) 0%,rgba(125,185,232,0.75) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80abd1ea', endColorstr='#bf7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity: 0.2;
  z-index: -1;
}


/* Media Queries */
@media screen and (max-width: 879px) {
  .title {
    margin-bottom: 30%;
  }

  .result {
    height: 50%;
    font-size: 50px;
    line-height: 50px;
  }

  .calculator {
    width: 400px;
  }

  p {
    font-size: 30px;
    width: 100px;
  }

  p.cancel {
    width: 275px;
  }

  p.zero {
    width: 150px;
  }

}
